<div id="video-div">
    <section id="inor">
    
    
        <video id="video" autoplay muted loop>
            <source src="assets/imgs/video.mp4" type="video/mp4">
        </video>
        <div class="inor container">
            <div>
                <h1>معهد<div></div>
                </h1>
                <h1>INSTITUT<span></span></h1>
                <h1>privé<span></span></h1>
                <h1>INOR<span></span></h1>
                <a href="/login" type="button" class="btn1">Se connecter</a>
            </div>
        </div>
    
    </section>
</div>


<!--la deusieme section-->
<div id="position">
    

<section class="section is-medium">
    
    <div  class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    
        <div class="card" class="column is-one-third">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="assets/imgs/home-img1.jpg" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p align="center" class="title is-2" >Formation professionel</p>
                </div>
            </div>
    
            <div class="content">
                Description.
                <br>
                
            </div>
        </div>
    </div>

    <div class="card" class="column is-one-third">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="assets/imgs/home-langue.jpg" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p align="center" class="title is-2">Plusieur langues</p>
                </div>
            </div>
    
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                
            </div>
        </div>
    </div>

    <div class="card" class="column is-one-third">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="assets/imgs/home-img3.jpeg" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p align="center" class="title is-2">Soutien scolaire</p>
                </div>
            </div>
    
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
            
            </div>
        </div>
    </div>
    </div>

    <section class="section" class="content has-text-centered">
        <br>
        <br>
        <h1 class="title">Join US</h1>
        <h2 class="subtitle">
            <br>
            <br>
        </h2>
    </section>



    
</section>

</div>

<!--============================ Footer  ====================================-->
<footer class="footer is-darck">
    <div class="content has-text-centered">
        <p>
            Created by <a href="https://www.instagram.com/mourad__bch/"> <strong>EL BACHIRI Mourad</strong></a>. Contact us at
            <a href="https://www.instagram.com/inor.institut/">Instagrame</a>. Or
             <a href="https://web.facebook.com/Inorinstitut"> Facebook</a>.
        </p>
    </div>
</footer>

